# ======================
# Python / virtual env
# ======================
venv/
__pycache__/
*.pyc

# ======================
# Datasets
# ======================
datasets/

# ======================
# Experiments / logs
# ======================
runs/
events.out.tfevents.*

# ======================
# Generated data
# ======================
*.npy

# ======================
# Auxiliary files
# ======================
all_files.txt
